html, body { height: 100%; }
body { display: flex; align-items: center; background: #fff; justify-content: space-evenly; flex-direction: row; font-family: 'Merriweather', serif; margin: 0; }

#analyser{display:flex;align-items:flex-end;margin:1em 0;height:100px;border:1px solid #ccc}
#analyser>div{flex:1;border-top:2px solid green;transition:.1s}
#piano{display:none;width:80%;}
#piano>div{flex:1;position:relative;height:240px;margin:0 2px;border:1px solid #d1d1d1;border-radius:1px 1px 5px 5px;box-shadow:2px 2px 5px rgba(0,0,0,.2);cursor:pointer;}
#piano>div::after{position:absolute;bottom:1em;width:100%;text-align:center;content:attr(data-note);font-size:1.5em}
#piano>div>div{position:absolute;top:-1px;left:72%;height:160px;width: calc(60% + 2px);background:#000;border-radius:1px 1px 5px 5px;box-shadow:2px 2px 5px rgba(0,0,0,.2);cursor:pointer;z-index:10}

#gray-bg {
	width: 50%;
	height: 100%;
	background: #f9f9f9;
	position: absolute;
	left: 0;
}

#app-wrap {
	display: flex;
	height: 100%;
	width: 100%;
	/*max-width: 960px;*/
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#minisax-wrap {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: #f7f7f7;
}

#logo img {
	width: 80px;
	margin-bottom: -32px;
}

#minisax {
    display: flex;
    flex-direction: column;
    /*border: 1px solid #e9e9e9;*/
    padding: 16px;
    background: #d8d8d8;
    border-radius: 8px;
    position: relative;
    margin: 48px 0 0 0;
}

#minisax .whole {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin: 10px 4px;
    transition: background .1s;
    background: black;
}

#minisax .whole:first-child {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background: black;
    margin: 0 0 8px 0;
}

#minisax .half {
	width: 30px;
    height: 60px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    transition: background .1s;
    background: none;
}

#minisax .whole:first-child .half {
	width: 15px;
    height: 30px;
    /*background-color: #ff4700;*/
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px
}

#display-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#display {
    font-size: 32px;
    color: black;
    padding: 16px;
}

#controls-wrap {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: #ffffff;
}

#controls {
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

#input form {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 0 24px 0;
	position: relative;
}

#input form label {
	font-size: 14px;
}

#input form select {
	margin: 16px;
	padding: 16px;
	border-radius: 4px;
	border: 1px solid black;
	background: white;
	background-image: 
		linear-gradient(45deg, transparent 50%, #000000 50%),
		linear-gradient(135deg, #000000 50%, transparent 50%),
		linear-gradient(to right, white, white);
	background-position:
		calc(100% - 20px) calc(1em + 8px),
		calc(100% - 15px) calc(1em + 8px),
		100%, 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 2.5em;
	background-repeat: no-repeat;
	appearance: none;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    min-width: 180px;
}

.orange {
	background: #ff4700 !important;
	transition: background .2s;
}

@keyframes keyClick {
  0%   {box-shadow:2px 2px 5px rgba(0,0,0,.4)}
  25%  {box-shadow:2px 2px 5px rgba(0,0,0,0)}
  100% {box-shadow:2px 2px 5px rgba(0,0,0,0)}
}

#tempo-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 24px 0 0 0;
}

.tempo {
	font-size: 20px;
	display: flex;
	padding: 12px;
	margin: 10px;
	border-radius: 4rem;
	color: #b7b7b7;
	min-width: 120px;
	justify-content: center;
	cursor: pointer;
	border: 2px solid #d3d3d3;
	transition: all .3s;
}

.tempo:hover {
	color: black;
	border: 2px solid black;
}

#tempo-overlay, #input-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.7);
}

.active {
	color: #000;
	border: 2px solid black;
	background: #f9f9f9;
}

#btn-play {
	transition: color .3s;
}

#btn-play:hover {
	color: #ff4700;
}

#btn-stop {
	display: none;
	color: #ff4700;
}

.pressed {
	/*animation-name: keyClick;*/
	/*animation-duration: .5s;*/
	background-color: #e7e7e7;
	box-shadow:2px 2px 5px rgba(0,0,0,0) !important;
}

.md-large {
	font-size: 220px;
	cursor: pointer;
}

#ver {
	font-size: 9px;
	color: #999;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#ver a, #ver a:visited {
	text-decoration: underline;
	color: #666;
}

#ver a:hover {
	color: #222;
}

#ver span {
	margin-bottom: 4px 0;
	vertical-align: middle;
}

#feedback {
	font-size: 10px;
	color: #fff;
	background: #6a6a6a;
	border-radius: 6px 6px 0 0;
	position: absolute;
	bottom: 0;
	left: auto;
	right: auto;
	display: block;
	text-decoration: none;
	padding: 8px 12px 6px 12px;
}

#feeback:hover {
	background-color: #ff4700;
}

#feedback i {
    font-size: 13px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 -2px 0 4px;
}

@media (max-width: 768px), (max-height: 680px) {

	#logo img {
		width: 60px;
		margin-bottom: -12px;
	}

	#btn-play, #btn-stop {
		font-size: 120px;
	}

	#tempo-wrap {
		margin: 16px 0 0 0;
	}

	.tempo {
		font-size: 16px;
		margin: 8px;
		padding: 6px;
	}

	#display {
	    font-size: 24px;
	    color: black;
	    padding: 6px;
	}

	#input form {
		margin: 0 0 8px 0;
	}

	#input form label {
		font-size: 12px;
	}

	#input form select {
		padding: 8px;
		background-image: 
			linear-gradient(45deg, transparent 50%, #000000 50%),
			linear-gradient(135deg, #000000 50%, transparent 50%),
			linear-gradient(to right, white, white);
		background-position:
			calc(100% - 11px) calc(1em + 1px),
			calc(100% - 6px) calc(1em + 1px),
			100%, 0;
	    font-size: 14px;
	    min-width: 140px;
	}

	#minisax {
		margin: 24px 0 0 0;
		padding: 12px;
	}

	#minisax .whole {
	    width: 40px;
	    height: 40px;
	    border-radius: 20px;
	    margin: 8px 4px;
	    transition: background .1s;
	    background: black;
	}

	#minisax .whole:first-child {
	    width: 20px;
	    height: 20px;
	    border-radius: 10px;
	    background: black;
	    margin: 0 0 8px 0;
	}

	#minisax .half {
		width: 20px;
	    height: 40px;
	    border-top-left-radius: 120px;
	    border-bottom-left-radius: 120px;
	    transition: background .1s;
	    background: none;
	}

	#minisax .whole:first-child .half {
		width: 10px;
	    height: 20px;
	    /*background-color: #ff4700;*/
	    border-top-left-radius: 120px;
	    border-bottom-left-radius: 120px
	}
}



@media (max-height: 500px) {

	#logo img {
		width: 48px;
		margin-bottom: -8px;
	}

	#minisax .whole {
	    width: 24px;
	    height: 24px;
	    border-radius: 12px;
	    margin: 6px 3px;
	    transition: background .1s;
	    background: black;
	}

	#minisax .whole:first-child {
	    width: 12px;
	    height: 12px;
	    border-radius: 6px;
	    background: black;
	    margin: 0 0 4px 0;
	}

	#minisax .half {
		width: 12px;
	    height: 24px;
	    border-top-left-radius: 120px;
	    border-bottom-left-radius: 120px;
	    transition: background .1s;
	    background: none;
	}

	#minisax .whole:first-child .half {
		width: 5px;
	    height: 10px;
	    /*background-color: #ff4700;*/
	    border-top-left-radius: 120px;
	}

	#display {
    	font-size: 18px;
    	padding: 6px;
	}

	#minisax {
		margin: 16px 0 0 0;
		padding: 8px;
	}

	#tempo-wrap {
		margin: 10px 0 0 0;
	}

	.tempo {
	    font-size: 12px;
	    margin: 6px;
	    padding: 6px 4px;
	    min-width: 92px;
	}

	#input form select {
		font-size: 12px;
		min-width: 130px;
		margin: 8px;
		padding: 6px;
	}

	#btn-play, #btn-stop {
		font-size: 92px;
	}
}